<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>What's Cooking</title>

        <!-- css -->
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        {% block css %}{% endblock %}
    </head>

    <body>
        <div class="container">
                {% include 'partials/header.html' %}
            {% block content %}
            {% endblock %}
        </div>
        {% block extra_content %}
        {% endblock %}
        <!-- javascripts -->
        <script src="/static/bower_components/jquery/dist/jquery.js"></script>
        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/static/js/TweenLite.js"></script>
        <script src="/static/js/userDashboard.js"></script>
        <script src="/static/js/login.js"></script>

        {% block script %}{% endblock %}

    {% include 'partials/footer.html' %}
    </body>
</html>