{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/bower_components/bootstrap-combobox/css/bootstrap-combobox.css">
    <link href="/static/bower_components/bootstrap-star-rating/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css">

{% endblock%}

{% block content %}
    <!-- Container header -->
    {% include 'partials/user-filters.html' %}

    <!-- Tab on the pages -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu">Today's Menu</a></li>
        <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu" class="tab-pane fade in active">
            <!-- Ends Container header -->
            <div class="panel-group" id="accordion">
                {% for vendor_name in vendors %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <!-- panel-heading -->
                            <h4 class="panel-title"> <!-- title 1 -->
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion{{vendor_name}}">
                                  {{vendor_name|title}}
                                </a>
                           </h4>
                        </div>
                        <!-- panel body -->
                        <div id="accordion{{vendor_name}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!-- Todays menu -->
                                <div class="todays-menu">
                                    {% for time_name in timings %}
                                        <!-- Breakfast menu-->
                                        <div class="{{time_name|lower}}-menu  row">
                                            <h4 class="meal-header">{{ time_name }}</h4>
                                            <div class="inner-menu">
                                                {% for type_name in food_types %}
                                                    <div class="col-md-6 col-sm-12 col-xs-12 {% if type_name == 'veg'%}pull-left {% else %} pull-right{% endif %}">
                                                        <div class="menu-list">
                                                            <h3>{{type_name | title}}</h3>
                                                            <img class="img-responsive" src="/static/images/menu3.jpg" alt="">
                                                            <div class="menu-list-item">
                                                                {% for food_item in items %}
                                                                    <!-- Heading / Dish name -->
                                                                    <h4 class="pull-left">{{food_item.name}}</h4>
                                                                    <!-- Dish price -->
                                                                    <span class="price pull-right">${{food_item.price}}</span>
                                                                    <div class="clearfix"></div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Ends Menu Tab-->
        {% include 'rating-form.html'%}
    </div>
{% endblock %}

{% block script %}
    <script src="/static/bower_components/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="/static/bower_components/bootstrap-star-rating/js/star-rating.js" type="text/javascript"></script>

{% endblock %}