<div id="reviews" class="tab-pane fade">
    <form id="id_rate_form" method="post" name="id_rate_form" accept-charset="UTF-8" role="form" class="form-signin">
        <!--Ends Tab menu content-->
            <h3>Vender-Name</h3>Overall Rating <br>
            <input id="id_vendor_overall_rating" type="number" class="rating-loading" value="2" data-rtl="false">
            <br>
            <br> How do you like food today ?
            <input id="id_vendor_rating" type="number" class="rating rating-loading" data-min="0" data-max="5" data-step="1" data-size="lg" data-rtl="false">
            <textarea name="txtcomments" rows="5" cols="60"></textarea>
        <!--Ends Reviews tab-->
        <span class="clearfix"></span>
        <input class="btn btn-lg btn-primary" style="margin-top:1%" type="submit" id="submit" value="submit">
    </form>
</div>