<div class="row select-menu-row">
    <div class="col-md-6 col-sm-12 col-sx-12">
        <h4 class="section-header">Create and Edit Menu</h4>
        <br>
        <label>Select Menu</label>
        <form role="form" class="form " id="id_meal_type_form">
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" id="id_select_breakfast" class="meal-selector" checked="checked" name="id_select_meal" />Breakfast</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" id="id_select_lunch" class="meal-selector" name="id_select_meal" />Lunch</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" id="id_select_snacks" class="meal-selector" name="id_select_meal" />Evening Snacks</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" id="id_select_dinner" class="meal-selector" name="id_select_meal" />Dinner</label>
                </div>
            </div>
        </form>
    </div>
</div>