<div class="row">
    <!-- filter column -->
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row user-dashboard-filters">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="id_select_loc">Select Location</label>
                    <select class="form-control combobox" id="id_select_location">
                        {% for location in locations %}
                            <option>{{location}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 vender-select-wrap">
                <div class="form-group">
                    <label for="id_select_vender">Select vender</label>
                    <select class="form-control combobox" id="id_select_vender">
                        <option selected>All</option>
                        {% for vendor in vendors %}
                            <option>{{vendor}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    {% if not request.user.is_authenticated %}
        <div style="float:right; margin-top:2%; margin-right:1%;">
            <a class="btn btn-lg btn-primary" href="{% url 'login'%}"> Login </a>
        </div>
    {% else %}
        <div style="float:right; margin-top:2%;">
            <a class="btn btn-lg btn-primary" href="{% url 'logout'%}"> Logout </a>
        </div>
        {% ifequal user_type 'vdor' %}
            <div style="float:right; margin-top:2%; margin-right:1%;">
                <a class="btn btn-lg btn-primary" href="{% url 'vendor-home'%}"> Vendor </a>
            </div>
        {% endifequal %}
    {% endif %}
</div>